.updateButton {
  width: 160px;
  height: 40px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  color: #407bff;
  font-weight: 500;
  border: 2px solid #407bff;
  float: right;
  position: relative;
  margin: 5px;
  font-size: 14px;
}

.updateButton:hover {
  background-color: #407bff;
  color: var(--fontPrimary);
}

.updateButton:hover span {
  color: var(--fontPrimary);
}

.updateButton span {
  color: #407bff;
  font-weight: 500;
}

.updateButton .open {
  display: block;
  color: #407bff;
}

.updateButton:hover .open {
  display: block;
  color: var(--fontPrimary);
}
